.focus_footer {
	font-size: 12px !important;
	font-family: Tahoma, sans-serif;
	a, a:link, a:visited, a:hover, a:active, span {
		font-size: 12px !important;
	}
	h4 {

		font-size: 13px;
		font-weight: bold;
	}
}