
#right-boxes {
	display: none;
}

#page-container {
	background-color: $valLightBlue; /* FOR DEMO PURPOSES */
	padding: 5px 0;
	position: relative;
}

#front-main {
	background-color: $valMainBlue; /* FOR DEMO PURPOSES */
	width: 97%;
	margin: 0 auto;
	padding: 5px;
	border-radius: 5px;
	padding-bottom: 10px;
}

#f-left-col, #f-right-col,
#f-center-col {
	min-height: 95vh; /* FOR DEMO PURPOSES */
	float: left;
	text-align: center; /* FOR DEMO PURPOSES */
	margin-right: 1%;
}

#f-left-col, #f-right-col {
	width: 16.5%;
}

#f-left-col {
	margin-left: 1%;
}

#f-center-col {
	width: 63%;
}

#f-right-col {
	margin-right: 0;
}

.c-box {
	min-height: 100px; /* FOR DEMO PURPOSES */
	color: #eee; /* FOR DEMO PURPOSES */
	margin-top: 17px;
	border: 2px solid $valDarkBlue;
	border-radius: 5px;
	overflow: hidden;

	a, a:link, a:visited {
		color: #eee;
	}

	a:hover {
		color: rgba(150, 150, 150, .7);
	}
	.box-header {
		@include valTitle;
		padding: 10px 10px;
		background-color: $valDarkBlue; /* FOR DEMO PURPOSES */
		min-height: 25px; /* FOR DEMO PURPOSES */
		background: url('http://www.valucre.com/uploads/set_resources_7/005d20f304c7929cbfdb3fe61d088022_mainPattern.png') 
		repeat 50% 100%, linear-gradient(to bottom, rgba(20,60,105,0.5) 0%, rgba(20,60,100,1) 100%);
		h2 {
			font-size: 2em;
		}
	}

	.box-content {
		position: relative;
		background-color: $valLightBlue; /* FOR DEMO PURPOSES */
		padding: 25px 55px;
		text-align: left;
		font-size: 1.1em;
		min-height: 110px; /* FOR DEMO PURPOSES */
		h2 {
			font-size: 1.2em;
			font-weight: bold;
			font-style: italic;
		}
	}

	.lore, .r-content {
		padding: 8px;
		text-align: center;
		a, a:link, a:visited {
			color: #fff;
		}
		p {
			font-size: .9em;
		}

		img {
			width: 90%;
		}
	}

	.dif-height1 { /* FOR DEMO PURPOSES */
		min-height: 150px;
	}

	.dif-height2 { /* FOR DEMO PURPOSES */
		min-height: 210px; 
	}
}

#front-banner {
	margin-top: 15px;
	text-align: center;
	img {
		width: 50%;
		display: inline-block;
		height: 175px;
	}
}
