#front-header {
	min-height: 20vh; /* FOR DEMO PURPOSES */
	background-color: $valMainBlue; /* FOR DEMO PURPOSES */
	text-align: center; /* FOR DEMO PURPOSES */
	padding-bottom: 20px;
}

#header {
	background-color: #55728b;
}

#front-nav, #site-banner {
	width: 80%;
	margin: 0 auto;
}

#front-nav {
	min-height: 5vh; /* FOR DEMO PURPOSES */
	background-color: $valDarkBlue; /* FOR DEMO PURPOSES */
}

#site-banner {
	min-height: 35vh; /* FOR DEMO PURPOSES */
	background-color: $valLightBlue; /* FOR DEMO PURPOSES */

	#site-header {
		font-size: 60px; /* FOR DEMO PURPOSES */
		padding-top: 50px; /* FOR DEMO PURPOSES */
		@include valTitle;
	}
}

.forum-link {
	width: initial !important;
	font-family: 'Trajan-Reg', Serif;
}