.slicknav {
	margin-top: 55px;
	text-align: left;
	.slick-head, li {
		width: 100%;
		background-color: $valDarkBlue;
		font-size: 22px;
		border: 1px solid black;
		padding: 5px 0px 5px 15px;
	}


	.menu {
		float: right;
		z-index: 1;
		a, a:link, a:visited, a:hover {
			color: #fff;
			text-decoration: none;
		}

		a:hover {
			color: #ccc;
			transition: all .5s;
		}
	}

	.menu-item {
		float: left;


	}

	.sub-menu {

		overflow: hidden;
		display: none;
		position: relative;
		z-index: 5;

		.menu-item {
			border-bottom: 0;
			border-left: 0;
			border-right: 0;
		}

		.menu-item:first-of-type {
			margin-top: 5px;
			border-top: 3px solid #000;
		}

		.menu-item:last-of-type {
			padding-bottom: 0px;
		}
	}
}
